$grid-breakpoint-xs: 0;
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1400px;


@mixin media-breakpoint-up($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}

$pistachio: #DDF0A7;
$font-family-serif: 'Fraunces', Georgia, 'Times New Roman', serif;
$font-family-sans-serif: 'Space Grotesk', Arial, Helvetica, sans-serif;
$mainblack: #162E3C;
$white: #fff;

$container-max-width: 1296px;

$color-success: $pistachio;


html {
    height: 100%;
}

body {
    font-family: $font-family-sans-serif;
    color: $mainblack;
}

a {
    color: black;
    text-decoration: none;
}

.btn-interaction {
    margin-left: -1rem;
}

.btn {
    border: 1px solid $mainblack;
    border-radius: 30px;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    text-decoration: none;
    white-space: nowrap;
    display: inline-block;
    color: $mainblack;

    &:hover {
        background-color: $pistachio;
        color: $mainblack;
    }

    &__pistachio {
        background-color: $pistachio;
        color: $mainblack;

        &:hover {
            background-color: $white;
            color: $mainblack;
        }
    }

    &__black {
        background-color: $mainblack;
        color: white;
    }



    &__arrow {
        background: url(/assets/images/black-arrow.svg) center right no-repeat;
        padding-right: 1.5rem;
        border-color: transparent;

        &:hover {
            background-color: initial;
            color: initial;
        }

        &_white {
            background: url(/assets/images/arrow-right.svg) center right no-repeat;
            color: $white;

            &:hover {
                color: white;
            }
        }
    }
}

.marker {
    background-color: $pistachio;
    color: $mainblack;
    border-radius: 30px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    white-space: nowrap;
    font-weight: bold;
    display: inline-block;

    &__centered {
        margin-left: auto;
        margin-right: auto;
    }
}

.start {
    background-color: $mainblack;
    display: flex;
    flex-flow: column;
}


.alert-item {

    // .alert-item__success

    &__success {
        background-color: $color-success;
    }

    // .alert-item__text

    &__text {
        max-width: $container-max-width;
        margin: 0 auto;
        text-align: center;
        padding: 1rem;
    }

    // .alert-item__close

    &__close {
        float: right;
    }
}

.header {
    background-color: white;

    // .header__container

    &__container {
        max-width: $container-max-width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;

        @media screen and (max-width: $grid-breakpoint-md) {
            grid-template-rows: repeat(5, 1fr);
        }
    }

    // .header__logo

    &__logo {
        margin: 1rem;
        grid-row: 1;
        grid-column: 1;

        @media screen and (max-width: $grid-breakpoint-md) {
            grid-column: 1/3;
            text-align: center;
        }
    }

    // .header__items

    &__items {
        display: flex;
        align-items: center;
        justify-content: end;
        grid-row: 1;
        grid-column: 2;

        @media screen and (max-width: $grid-breakpoint-md) {
            flex-direction: column;
            grid-row: 2/6;
            grid-column: 1/3;
            justify-content: stretch;
        }
    }

    // .header__link

    &__link {
        text-decoration: none;
        white-space: nowrap;
        margin: 1rem;

        @media screen and (max-width: $grid-breakpoint-md) {
            margin: 0.5rem;
        }
    }
}


.heading {
    background: url(/assets/images/screen1-bg.svg) no-repeat top center;
    background-size: contain;
    flex-grow: 1;
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
    padding-bottom: 25vw;
    display: flex;
    align-items: center;

    @include media-breakpoint-up($grid-breakpoint-md) {
        padding-bottom: 20vw;
    }

    & .heading-content {
        width: 50vw;
        max-width: 500px;
        margin: 0 auto;
        color: $white;
        text-align: center;
        padding: 3rem 0;

        @include media-breakpoint-up($grid-breakpoint-md) {
            padding: 6rem 0;
        }

        &__header {
            font-family: $font-family-serif;
        }

        &__actions {
            padding: 1rem 0;
        }

        &__logo {
            padding: 2rem 0 0 0;
        }

        &__logo-item {
            height: 25px;
            padding: 0 5px;
        }

    }
}



.video {
    padding-bottom: 3rem;
    position: relative;
    margin-top: -25vw;
    margin-bottom: 25vw;

    @include media-breakpoint-up($grid-breakpoint-md) {
        margin-top: -20vw;
        margin-bottom: 20vw;
    }

    // .video__pane

    &__pane {
        background-color: $mainblack;
        height: 25vw;

        @include media-breakpoint-up($grid-breakpoint-md) {
            height: 20vw;
        }
    }

    // .video__handler

    &__handler {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 3rem;
    }

    // .video__background

    &__background {
        background: url(/assets/images/foto-girl.png) no-repeat center center;
        width: 100%;
        background-size: contain;
        width: 100vw;
        height: 50vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up($grid-breakpoint-md) {
            width: 85vw;
            height: 42.5vw;
            max-width: 1296px;
            max-height: 648px;
        }
    }
}


.speed {
    background-image: url(/assets/images/waves.svg);
    background-position: top right;
    background-repeat: no-repeat;

    // .speed__container

    &__container {
        max-width: $container-max-width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2em;

        @include media-breakpoint-up($grid-breakpoint-md) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

        // .speed__container_image

        &_image {
            margin: auto;
            padding-right: 2.5em;
            grid-row: 2;
            grid-column: 1;
            position: relative;

            @media (max-width: $grid-breakpoint-md) {
                grid-row: 2;
                grid-column: 1;
                text-align: center;
            }

            & .speed-image__photo {
                height: auto;
                width: 100%;

                @media (max-width: $grid-breakpoint-md) {
                    padding-right: 0em;

                }

            }
        }

        // .speed__container_text

        &_text {
            grid-row: 2;
            grid-column: 2;
            align-self: center;
            line-height: 1.5rem;

            @media (max-width: $grid-breakpoint-md) {
                grid-column: 1;
                grid-row: 1;
                text-align: center;
            }
        }
    }
}



.speed-image {

    // .image__sales

    &__sales {
        position: absolute;
        z-index: 1;
        width: 400px;
        height: 90px;
        background-color: $pistachio;
        color: $mainblack;
        border-radius: 30px;
        padding: 1em;
        display: flex;
        justify-content: space-between;
        right: -1em;
        bottom: 50px;

        @media (max-width: $grid-breakpoint-md) {

            width: 90%;
            margin: auto;
            position: relative;
            bottom: initial;
            right: initial;
        }



        // .image__sales_bold

        &_bold {
            font-weight: bold;
            font-size: larger;
        }
    }
}


/*Startup begin*/
.startup {
    &__body {
        width: 80vw;
        height: 49rem;

        background-color: $pistachio;
        border-radius: 48px;
        color: $mainblack;
        margin: 128px auto;
        background-image: url(/assets/images/startup-decor.svg);
        background-position: top right;
        background-repeat: no-repeat;
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__title {
        width: 40rem;
        height: 6rem;
        margin: 127px 0px 27px 0px;
        font-family: $font-family-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 3rem;
        text-align: center;
    }

    &__text {
        width: 46.5rem;
        height: 3.375rem;

        font-family: $font-family-sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
    }

    &__row {
        display: flex;
        justify-content: center;
    }

    &__column {
        width: 24vw;
        max-height: 18.375rem;
        border-radius: 24px;
        background-color: $mainblack;
        color: $white;
    }

    &__column_first {
        margin: 3.875rem 0rem 3rem 2rem;
    }

    &__column_second {
        margin: 3.875rem 1rem 3rem 1rem;
    }

    &__column_third {
        margin: 3.875rem 2rem 3rem 0rem;
    }

    &__interaction {
        text-align: center;
        margin: 0px auto 8rem auto;
    }

    &__button {

        border: 2px solid $mainblack;
        border-radius: 64px;
        padding: 1rem;
        margin: 0 1rem;
        text-decoration: none;
        font-family: $font-family-sans-serif;
        font-weight: 700;
        font-size: 15px;
        color: $mainblack;

        &:hover {
            background-color: $white;
        }
    }

    &__link {
        text-decoration: none;
        white-space: nowrap;
        margin: 1rem;
        color: $mainblack;
        font-family: $font-family-sans-serif;
        font-weight: 700;
        font-size: 15px;
    }
}

.item-startup {
    text-align: center;

    &__icon_first {
        width: 5rem;
        height: 5rem;
        margin: 2rem auto 1.5rem auto;
    }

    &__icon_second {
        width: 5rem;
        height: 5rem;
        margin: 2rem auto 1.5rem auto;
    }

    &__icon_third {
        width: 5rem;
        height: 5rem;
        margin: 2rem auto 1.5rem auto;
    }

    &__title {
        font-family: $font-family-serif;
        font-weight: 400;
        font-size: 17px;
        margin: 0rem 0rem 1.06rem 0rem;
    }

    &__text {

        font-style: $font-family-serif;
        font-weight: 400;
        font-size: 15px;
        margin: 0px 1.25rem 1.9375rem 1.25rem;
    }
}

@media screen and (max-width: $grid-breakpoint-md) {
    .startup {

        &__body {
            width: 100%;
            height: 110rem;
            border-radius: 0px;
            background-image: none;
            margin: 0rem auto;
        }

        &__header {
            width: 80%;
            height: 25%;
            margin: 5rem auto;
            display: flex;
            align-content: space-between;
        }

        &__title {
            height: 14rem;
            margin: 3rem 0rem;
        }

        &__text {
            height: 5rem;
            margin: 0rem 0rem 3rem 0rem;
        }

        &__row {
            height: 60%;
            flex-wrap: wrap;
        }

        &__column {
            width: 70vw;
            height: 17rem;
        }

        &__column_first {
            margin: 3rem;
        }

        &__column_second {
            margin: 0rem 3rem;
        }

        &__column_third {
            margin: 3rem;
        }

        &__interaction {
            margin: 3rem 0rem 3rem 0rem;
        }
    }
}

@media screen and (max-width: $grid-breakpoint-sm) {
    .startup {
        &__body {
            height: 127rem;
        }

        &__header {
            height: 25%;
            width: 90vw;
        }

        &__column {
            height: 19rem;
            width: 90vw;
            margin: 0.5rem;
        }

        &__interaction {
            display: flex;
            height: 10rem;
            margin: 0rem 0rem 3rem 0rem;
            flex-wrap: wrap;
            align-content: space-between;
            justify-content: center;

        }
    }
}

/*Startup end*/

.straight {

    // .straight__container

    &__container {
        max-width: $container-max-width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2em;

        @include media-breakpoint-up($grid-breakpoint-md) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

        // .straight__container_image

        &_image {
            margin: auto;
            padding-right: 2.5em;
            grid-row: 1;
            grid-column: 2;
            position: relative;

            & .image__photo {
                height: auto;
                width: 100%;

            }

            @media (max-width: $grid-breakpoint-md) {
                padding-right: 0em;
                grid-column: 1;
                grid-row: 2;

            }

        }

        // .straight__container_text

        &_text {
            align-self: center;
            line-height: 1.5rem;

            @media (max-width: $grid-breakpoint-md) {

                grid-column: 1;
                grid-row: 1;

                text-align: center;
            }


        }
    }



    .image {

        // .image__productivity

        &__productivity {
            position: absolute;
            z-index: 1;
            width: 400px;
            height: 90px;
            background-color: $pistachio;
            color: $mainblack;
            border-radius: 20px;
            padding: 1em;
            display: flex;
            justify-content: space-between;
            bottom: 50px;
            left: -3.5em;

            @media (max-width: $grid-breakpoint-md) {

                width: 90%;
                margin: auto;
                position: relative;
                bottom: initial;
                right: initial;
                left: initial;
            }

            // .image__productivity_bold

            &_bold {
                font-weight: bold;
                font-size: larger;
            }
        }
    }

    .text__columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1em;
        margin-top: 2em;


        align-self: center;
        line-height: 1.5rem;

        &_left {
            grid-row: 1;
            grid-column: 1;
            padding: 1em;
        }

        // .text__columns_right

        &_right {
            grid-row: 1;
            grid-column: 2;
            padding: 1em;
        }


        @media (max-width: $grid-breakpoint-md) {

            grid-column: 1;
            grid-row: 1;

            text-align: center;
        }
    }

/*Footer start*/
.font-size-13px{
    font-size: 13px;
}
.font-size-14px{
    font-size: 14px;
}
.footer{
    width: 100%;
    height: 52.188rem;
    margin: 620px 0px 0px 0px;
    background-color: $mainblack;
    color: $white;
    font-family: $font-family-sans-serif;
    font-weight: 400;
&_up{
    display: flex;
    justify-content: center;
}
&__main_first{
    width: 31.2rem;
    height: 11.188rem;
    margin:  5rem;
}

&__link{
    text-decoration: none;
    color: $white;
    margin: 0rem 0rem 1rem 0rem;
    &:hover{
        text-decoration: underline;
    }
}
&__links{
    display: flex;
    width: 41.599rem;
    box-sizing: border-box;
    margin: 5rem 5rem 5rem ;
    justify-content: space-between;
}
&__column_first{
    height: 29.063rem;
}
&__list_first{
    display: flex;
    width: 4.688rem;
    flex-wrap: wrap;
    align-content: space-between;
}
&__column_name{
    font-size: 15px;
    margin: 0rem 0rem 1.5rem 0rem;
}
&__column_second{
    height: 3.5rem;
}
&__list_second{
    display: flex;
    width: 6.75rem;
    flex-wrap: wrap;
    align-content: space-between;
}

&__column_third{
    width: 6.063rem;
}
&__list_third{
    display: flex;
    width: 4.938rem;
    flex-wrap: wrap;
    align-content: space-between;
}

&__line{
    width: 80rem;
    border: solid 1px #223E4E;
}
&__social-media{
    display: flex;
    width: 8.5rem;
    height: 2.569rem;
    justify-content: space-between;
}
&__instagram{
    display: flex;
    width: 2.5rem;
    height: 2.563rem;
    background-color: $pistachio;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
    
}
&__twitter{
    display: flex;
    width: 2.5rem;
    height: 2.563rem;
    background-color: $pistachio;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
}
&__facebook{
    display: flex;
    width: 2.5rem;
    height: 2.563rem;
    background-color: $pistachio;
    border-radius: 32px;
    justify-content: center;
    align-items: center;
}
}

@media screen and (max-width: 715px){
    .footer{
        height: 42rem;
        margin: 2100px 0px 0px 0px;
        &__links{
            display: none;
        }
        &__line{
            display: none;
        }
        &__main_first{
            width: 100vw;
            margin: 1.5rem;
            text-align: center;
        }
        &__main_second{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
        &__creator{
            width: 80rem;
            order: 2;
            margin: 4rem 0;
        }
        &____social-media{
            display: flex;
            width: 80rem;
            margin: 0rem auto;
            order: 1;
            justify-content: space-between;
        }
    }
}
/*Footer end*/

}
