html {
  height: 100%;
}

body {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  color: #162E3C;
}

a {
  color: black;
  text-decoration: none;
}

.btn-interaction {
  margin-left: -1rem;
}

.btn {
  border: 1px solid #162E3C;
  border-radius: 30px;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  color: #162E3C;
}
.btn:hover {
  background-color: #DDF0A7;
  color: #162E3C;
}
.btn__pistachio {
  background-color: #DDF0A7;
  color: #162E3C;
}
.btn__pistachio:hover {
  background-color: #fff;
  color: #162E3C;
}
.btn__black {
  background-color: #162E3C;
  color: white;
}
.btn__arrow {
  background: url(/assets/images/black-arrow.svg) center right no-repeat;
  padding-right: 1.5rem;
  border-color: transparent;
}
.btn__arrow:hover {
  background-color: initial;
  color: initial;
}
.btn__arrow_white {
  background: url(/assets/images/arrow-right.svg) center right no-repeat;
  color: #fff;
}
.btn__arrow_white:hover {
  color: white;
}

.marker {
  background-color: #DDF0A7;
  color: #162E3C;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  white-space: nowrap;
  font-weight: bold;
  display: inline-block;
}
.marker__centered {
  margin-left: auto;
  margin-right: auto;
}

.start {
  background-color: #162E3C;
  display: flex;
  flex-flow: column;
}

.alert-item__success {
  background-color: #DDF0A7;
}
.alert-item__text {
  max-width: 1296px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
.alert-item__close {
  float: right;
}

.header {
  background-color: white;
}
.header__container {
  max-width: 1296px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}
@media screen and (max-width: 768px) {
  .header__container {
    grid-template-rows: repeat(5, 1fr);
  }
}
.header__logo {
  margin: 1rem;
  grid-row: 1;
  grid-column: 1;
}
@media screen and (max-width: 768px) {
  .header__logo {
    grid-column: 1/3;
    text-align: center;
  }
}
.header__items {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-row: 1;
  grid-column: 2;
}
@media screen and (max-width: 768px) {
  .header__items {
    flex-direction: column;
    grid-row: 2/6;
    grid-column: 1/3;
    justify-content: stretch;
  }
}
.header__link {
  text-decoration: none;
  white-space: nowrap;
  margin: 1rem;
}
@media screen and (max-width: 768px) {
  .header__link {
    margin: 0.5rem;
  }
}

.heading {
  background: url(/assets/images/screen1-bg.svg) no-repeat top center;
  background-size: contain;
  flex-grow: 1;
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding-bottom: 25vw;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .heading {
    padding-bottom: 20vw;
  }
}
.heading .heading-content {
  width: 50vw;
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .heading .heading-content {
    padding: 6rem 0;
  }
}
.heading .heading-content__header {
  font-family: "Fraunces", Georgia, "Times New Roman", serif;
}
.heading .heading-content__actions {
  padding: 1rem 0;
}
.heading .heading-content__logo {
  padding: 2rem 0 0 0;
}
.heading .heading-content__logo-item {
  height: 25px;
  padding: 0 5px;
}

.video {
  padding-bottom: 3rem;
  position: relative;
  margin-top: -25vw;
  margin-bottom: 25vw;
}
@media (min-width: 768px) {
  .video {
    margin-top: -20vw;
    margin-bottom: 20vw;
  }
}
.video__pane {
  background-color: #162E3C;
  height: 25vw;
}
@media (min-width: 768px) {
  .video__pane {
    height: 20vw;
  }
}
.video__handler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 3rem;
}
.video__background {
  background: url(/assets/images/foto-girl.png) no-repeat center center;
  width: 100%;
  background-size: contain;
  width: 100vw;
  height: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .video__background {
    width: 85vw;
    height: 42.5vw;
    max-width: 1296px;
    max-height: 648px;
  }
}

.speed {
  background-image: url(/assets/images/waves.svg);
  background-position: top right;
  background-repeat: no-repeat;
}
.speed__container {
  max-width: 1296px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}
@media (min-width: 768px) {
  .speed__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.speed__container_image {
  margin: auto;
  padding-right: 2.5em;
  grid-row: 2;
  grid-column: 1;
  position: relative;
}
@media (max-width: 768px) {
  .speed__container_image {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
  }
}
.speed__container_image .speed-image__photo {
  height: auto;
  width: 100%;
}
@media (max-width: 768px) {
  .speed__container_image .speed-image__photo {
    padding-right: 0em;
  }
}
.speed__container_text {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  .speed__container_text {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
}

.speed-image__sales {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 90px;
  background-color: #DDF0A7;
  color: #162E3C;
  border-radius: 30px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  right: -1em;
  bottom: 50px;
}
@media (max-width: 768px) {
  .speed-image__sales {
    width: 90%;
    margin: auto;
    position: relative;
    bottom: initial;
    right: initial;
  }
}
.speed-image__sales_bold {
  font-weight: bold;
  font-size: larger;
}

/*Startup begin*/
.startup__body {
  width: 80vw;
  height: 49rem;
  background-color: #DDF0A7;
  border-radius: 48px;
  color: #162E3C;
  margin: 128px auto;
  background-image: url(/assets/images/startup-decor.svg);
  background-position: top right;
  background-repeat: no-repeat;
}
.startup__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.startup__title {
  width: 40rem;
  height: 6rem;
  margin: 127px 0px 27px 0px;
  font-family: "Fraunces", Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
}
.startup__text {
  width: 46.5rem;
  height: 3.375rem;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.startup__row {
  display: flex;
  justify-content: center;
}
.startup__column {
  width: 24vw;
  max-height: 18.375rem;
  border-radius: 24px;
  background-color: #162E3C;
  color: #fff;
}
.startup__column_first {
  margin: 3.875rem 0rem 3rem 2rem;
}
.startup__column_second {
  margin: 3.875rem 1rem 3rem 1rem;
}
.startup__column_third {
  margin: 3.875rem 2rem 3rem 0rem;
}
.startup__interaction {
  text-align: center;
  margin: 0px auto 8rem auto;
}
.startup__button {
  border: 2px solid #162E3C;
  border-radius: 64px;
  padding: 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #162E3C;
}
.startup__button:hover {
  background-color: #fff;
}
.startup__link {
  text-decoration: none;
  white-space: nowrap;
  margin: 1rem;
  color: #162E3C;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.item-startup {
  text-align: center;
}
.item-startup__icon_first {
  width: 5rem;
  height: 5rem;
  margin: 2rem auto 1.5rem auto;
}
.item-startup__icon_second {
  width: 5rem;
  height: 5rem;
  margin: 2rem auto 1.5rem auto;
}
.item-startup__icon_third {
  width: 5rem;
  height: 5rem;
  margin: 2rem auto 1.5rem auto;
}
.item-startup__title {
  font-family: "Fraunces", Georgia, "Times New Roman", serif;
  font-weight: 400;
  font-size: 17px;
  margin: 0rem 0rem 1.06rem 0rem;
}
.item-startup__text {
  font-style: "Fraunces", Georgia, "Times New Roman", serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0px 1.25rem 1.9375rem 1.25rem;
}

@media screen and (max-width: 768px) {
  .startup__body {
    width: 100%;
    height: 110rem;
    border-radius: 0px;
    background-image: none;
    margin: 0rem auto;
  }
  .startup__header {
    width: 80%;
    height: 25%;
    margin: 5rem auto;
    display: flex;
    align-content: space-between;
  }
  .startup__title {
    height: 14rem;
    margin: 3rem 0rem;
  }
  .startup__text {
    height: 5rem;
    margin: 0rem 0rem 3rem 0rem;
  }
  .startup__row {
    height: 60%;
    flex-wrap: wrap;
  }
  .startup__column {
    width: 70vw;
    height: 17rem;
  }
  .startup__column_first {
    margin: 3rem;
  }
  .startup__column_second {
    margin: 0rem 3rem;
  }
  .startup__column_third {
    margin: 3rem;
  }
  .startup__interaction {
    margin: 3rem 0rem 3rem 0rem;
  }
}
@media screen and (max-width: 576px) {
  .startup__body {
    height: 127rem;
  }
  .startup__header {
    height: 25%;
    width: 90vw;
  }
  .startup__column {
    height: 19rem;
    width: 90vw;
    margin: 0.5rem;
  }
  .startup__interaction {
    display: flex;
    height: 10rem;
    margin: 0rem 0rem 3rem 0rem;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
  }
}
/*Startup end*/
/*Footer start*/
.footer {
  margin: 400px 0px 0px 0px;
}

/*Footer end*/
.straight__container {
  max-width: 1296px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}
@media (min-width: 768px) {
  .straight__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
.straight__container_image {
  margin: auto;
  padding-right: 2.5em;
  grid-row: 1;
  grid-column: 2;
  position: relative;
}
.straight__container_image .image__photo {
  height: auto;
  width: 100%;
}
@media (max-width: 768px) {
  .straight__container_image {
    padding-right: 0em;
    grid-column: 1;
    grid-row: 2;
  }
}
.straight__container_text {
  align-self: center;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  .straight__container_text {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
}
.straight .image__productivity {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 90px;
  background-color: #DDF0A7;
  color: #162E3C;
  border-radius: 20px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  bottom: 50px;
  left: -3.5em;
}
@media (max-width: 768px) {
  .straight .image__productivity {
    width: 90%;
    margin: auto;
    position: relative;
    bottom: initial;
    right: initial;
    left: initial;
  }
}
.straight .image__productivity_bold {
  font-weight: bold;
  font-size: larger;
}
.straight .text__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;
  margin-top: 2em;
  align-self: center;
  line-height: 1.5rem;
}
.straight .text__columns_left {
  grid-row: 1;
  grid-column: 1;
  padding: 1em;
}
.straight .text__columns_right {
  grid-row: 1;
  grid-column: 2;
  padding: 1em;
}
@media (max-width: 768px) {
  .straight .text__columns {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
}/*# sourceMappingURL=startico.css.map */