html {
  height: 100%;
}

body {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
}

.start {
  background-color: #162E3C;
  display: flex;
  flex-flow: column;
}

.alert__container .alert__item.alert__item__success {
  background-color: #DDF0A7;
}
.alert__container .alert__item .alert__text {
  max-width: 1296px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
.alert__container .alert__item .alert__close {
  float: right;
}

header {
  background-color: white;
}

.header__container {
  max-width: 1296px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}
.header__container .header__logo {
  margin: 1rem;
  grid-row: 1;
  grid-column: 1;
}
.header__container .header__items {
  display: flex;
  align-items: center;
  justify-content: end;
  grid-row: 1;
  grid-column: 2;
}
.header__container .header__link {
  text-decoration: none;
  white-space: nowrap;
  margin: 1rem;
  color: black;
}
.header__container .header__link.btn {
  border: 1px solid #162E3C;
  border-radius: 20px;
  padding: 0.5rem;
}
.header__container .header__link.btn.btn-black {
  background-color: #162E3C;
  color: white;
}

@media screen and (max-width: 715px) {
  .header__container {
    max-width: 1296px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, 1fr);
  }
  .header__container .header__logo {
    margin: 1rem;
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
  }
  .header__container .header__items {
    display: flex;
    flex-direction: column;
    grid-row: 2/6;
    grid-column: 1/3;
    justify-content: stretch;
  }
  .header__container .header__link {
    text-decoration: none;
    white-space: nowrap;
    margin: 0.5rem;
    color: black;
  }
  .header__container .header__link.btn {
    border: 1px solid #162E3C;
    border-radius: 20px;
    padding: 0.5rem;
  }
  .header__container .header__link.btn.btn-black {
    background-color: #162E3C;
    color: white;
  }
}
.heading {
  background: url(/assets/images/screen1-bg.svg) no-repeat top center;
  background-size: contain;
  flex-grow: 1;
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding-bottom: 25vw;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .heading {
    padding-bottom: 20vw;
  }
}
.heading .heading-content {
  width: 50vw;
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .heading .heading-content {
    padding: 6rem 0;
  }
}
.heading .heading-content .heading-content__header {
  font-family: "Fraunces", Georgia, "Times New Roman", serif;
}
.heading .heading-content .heading-content__actions {
  padding: 1rem 0;
}
.heading .heading-content .heading-content__actions .btn {
  border: 1px solid #162E3C;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
}
.heading .heading-content .heading-content__actions .btn.btn-pistachio {
  background-color: #DDF0A7;
  color: #162E3C;
}
.heading .heading-content .heading-content__actions .btn.btn-arrow {
  background: url(/assets/images/arrow-right.svg) center right no-repeat;
  padding-right: 1.5rem;
  color: #fff;
}
.heading .heading-content .heading-content__logo {
  padding: 2rem 0 0 0;
}
.heading .heading-content .heading-content__logo-item {
  height: 25px;
  padding: 0 5px;
}

.video {
  padding-bottom: 3rem;
  position: relative;
  margin-top: -25vw;
  margin-bottom: 25vw;
}
@media (min-width: 768px) {
  .video {
    margin-top: -20vw;
    margin-bottom: 20vw;
  }
}
.video .video-pane {
  background-color: #162E3C;
  height: 25vw;
}
@media (min-width: 768px) {
  .video .video-pane {
    height: 20vw;
  }
}
.video .video-handler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 3rem;
}
.video .video-background {
  background: url(/assets/images/foto-girl.png) no-repeat center center;
  width: 100%;
  background-size: contain;
  width: 100vw;
  height: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .video .video-background {
    width: 80vw;
    height: 40vw;
  }
}
.video .video-background .video-button.btn {
  border: 1px solid #162E3C;
  border-radius: 20px;
  padding: 0.5rem;
  margin: 0 1rem;
  text-decoration: none;
}
.video .video-background .video-button.btn.btn-pistachio {
  background-color: #DDF0A7;
  color: #162E3C;
}/*# sourceMappingURL=startico.css.map */