$grid-breakpoint-xs: 0;
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1400px;


@mixin media-breakpoint-up($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}


$pistachio: #DDF0A7;
$font-family-serif: 'Fraunces', Georgia, 'Times New Roman', serif;
$font-family-sans-serif: 'Space Grotesk', Arial, Helvetica, sans-serif;
$mainblack: #162E3C;
$white: #fff;

$small: 576px;
$medium: 768px;

$container-max-width: 1296px;
$screen-medium: 715px;

$color-success: $pistachio;




html {
    height: 100%;
}

body {
    font-family: $font-family-sans-serif;
}

.start {
    background-color: $mainblack;
    display: flex;
    flex-flow: column;
}

.alert__container {
    & .alert__item {


        &.alert__item__success {
            background-color: $color-success;
        }

        & .alert__text {
            max-width: $container-max-width;
            margin: 0 auto;
            text-align: center;
            padding: 1rem;
        }

        & .alert__close {
            float: right;
        }
    }
}

header {
    background-color: white;
}

.header__container {
    max-width: $container-max-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;

    & .header__logo {
        margin: 1rem;
        grid-row: 1;
        grid-column: 1;
    }

    & .header__items {
        display: flex;
        align-items: center;
        justify-content: end;
        grid-row: 1;
        grid-column: 2;
    }

    & .header__link {
        text-decoration: none;
        white-space: nowrap;
        margin: 1rem;
        color: black;

        &.btn {
            border: 1px solid $mainblack;
            border-radius: 20px;
            padding: 0.5rem;

            &.btn-black {
                background-color: $mainblack;
                color: white;
            }
        }
    }
}

@media screen and (max-width: $screen-medium) {
    .header__container {
        max-width: $container-max-width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 1fr);

        & .header__logo {
            margin: 1rem;
            grid-row: 1;
            grid-column: 1/3;
            text-align: center;
        }

        & .header__items {
            display: flex;
            flex-direction: column;
            grid-row: 2/6;
            grid-column: 1/3;
            justify-content: stretch;
        }

        & .header__link {
            text-decoration: none;
            white-space: nowrap;
            margin: 0.5rem;
            color: black;

            &.btn {
                border: 1px solid $mainblack;
                border-radius: 20px;
                padding: 0.5rem;

                &.btn-black {
                    background-color: $mainblack;
                    color: white;
                }
            }
        }
    }
}

.heading {
    background: url(/assets/images/screen1-bg.svg) no-repeat top center;
    background-size: contain;
    flex-grow: 1;
    width: 100%;
    max-width: $container-max-width;
    margin: 0 auto;
    padding-bottom: 25vw;
    display: flex;
    align-items: center;

    @include media-breakpoint-up($grid-breakpoint-md) {
        padding-bottom: 20vw;
    }

    & .heading-content {
        width: 50vw;
        max-width: 500px;
        margin: 0 auto;
        color: $white;
        text-align: center;
        padding: 3rem 0;

        @include media-breakpoint-up($grid-breakpoint-md) {
            padding: 6rem 0;
        }

        & .heading-content__header {
            font-family: $font-family-serif;
        }

        & .heading-content__actions {
            padding: 1rem 0;

            & .btn {
                border: 1px solid $mainblack;
                border-radius: 20px;
                padding: 0.5rem;
                margin: 0.5rem 1rem;
                text-decoration: none;
                white-space: nowrap;
                display: inline-block;


                &.btn-pistachio {
                    background-color: $pistachio;
                    color: $mainblack;
                }

                &.btn-arrow {
                    background: url(/assets/images/arrow-right.svg) center right no-repeat;
                    padding-right: 1.5rem;
                    color: $white;
                }
            }
        }

        & .heading-content__logo {
            padding: 2rem 0 0 0;
        }

        & .heading-content__logo-item {
            height: 25px;
            padding: 0 5px;
        }

    }
}


.video {
    padding-bottom: 3rem;
    position: relative;

    margin-top: -25vw;
    margin-bottom: 25vw;

    @include media-breakpoint-up($grid-breakpoint-md) {
        margin-top: -20vw;
        margin-bottom: 20vw;
    }


    & .video-pane {
        background-color: $mainblack;
        height: 25vw;

        @include media-breakpoint-up($grid-breakpoint-md) {
            height: 20vw;
        }
    }

    & .video-handler {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 3rem;

    }

    & .video-background {
        background: url(/assets/images/foto-girl.png) no-repeat center center;
        width: 100%;
        background-size: contain;
        width: 100vw;
        height: 50vw;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up($grid-breakpoint-md) {
            width: 85vw;
            height: 42.5vw;
            max-width: 1296px;
            max-height: 648px;
        }

        & .video-button {
            &.btn {
                border: 1px solid $mainblack;
                border-radius: 20px;
                padding: 0.5rem;
                margin: 0 1rem;
                text-decoration: none;

                &.btn-pistachio {
                    background-color: $pistachio;
                    color: $mainblack;
                }
            }

        }
    }
}


.speed {
    background-image: url(/assets/images/waves.png);
    background-position: top right;
    background-repeat: no-repeat;

    // .speed__container

    &__container {
        max-width: $container-max-width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 2em;

        @include media-breakpoint-up($grid-breakpoint-md) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }

    // .speed__image

    &__image {
        margin: auto;
        padding-right: 2.5em;
        grid-row: 1;
        grid-column: 1;
        position: relative;

        & .speed-photo {
            height: auto;
            width: 100%;

        }

        @media (max-width: $grid-breakpoint-md) {
            padding-right: 0em;

        }


    }

    // .speed__text

    &__text {
        grid-row: 1;
        grid-column: 2;
        align-self: center;
        line-height: 1.5rem;

        @media (max-width: $grid-breakpoint-md) {
            grid-row: 2;
            grid-column: 1;
            text-align: center;
        }

    }

    .image {

        // .image__sales


        &__sales {
            position: absolute;
            z-index: 1;
            width: 400px;
            height: 90px;
            background-color: $pistachio;
            color: $mainblack;
            border-radius: 20px;
            padding: 1em;
            display: flex;
            justify-content: space-between;
            right: -1em;
            bottom: 50px;

            @media (max-width: $grid-breakpoint-md) {

                width: 90%;
                margin: auto;
                position: relative;
                bottom: initial;
                right: initial;
            }



            & .sales__bold {

                font-weight: bold;
                font-size: larger;

            }



        }
    }
}



.text {

    // .text__btn

    &__btn {


        &__pistachio {
            background-color: $pistachio;
            color: $mainblack;
            border-radius: 20px;
            padding: 0.3rem;
            text-decoration: none;
        }



        &__white {

            border: 2px solid $mainblack;
            border-radius: 20px;
            padding: 0.3rem;
            text-decoration: none;
            color: $mainblack;

            &:hover {
                background-color: $pistachio;
                border: none;

            }

        }


        &__arrow {
            background: url(/assets/images/black-arrow.png) center right no-repeat;
            padding-right: 1.5rem;
            color: $mainblack;
            text-decoration: none;
            margin: 1rem;
            white-space: nowrap;

            &:hover {
                border-radius: 20px;
                padding: 0.5rem;

                background-color: $pistachio;
            }
        }
    }
}

/*Startup begin*/
.startup {
&__body{
    width: 80vw;
    height: 49rem;

    background-color: $pistachio;
    border-radius: 48px;
    color: $mainblack;
    margin: 128px auto;
    background-image: url(/assets/images/startup-decor.png);
    background-position: top right;
    background-repeat: no-repeat;
}
&__header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
&__title{
    width: 40rem;
    height: 6rem;
    margin: 127px 0px 27px 0px;
    font-family: $font-family-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;
}
&__text{
    width: 46.5rem;
    height: 3.375rem;

    font-family: $font-family-sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}
&__row{
    display: flex;
    justify-content: center;
}
&__column{
   width: 24vw;
    max-height: 18.375rem;
    border-radius: 24px;
    background-color: $mainblack;
    color: $white;
}
&__column_first{
    margin: 3.875rem 0rem 3rem 2rem;
}
&__column_second {
    margin: 3.875rem 1rem 3rem 1rem;
}

&__column_third {
    margin: 3.875rem 2rem 3rem 0rem;
}

&__interaction {
    text-align: center;
    margin: 0px auto 8rem auto;
}
&__button {

    border: 2px solid $mainblack;
    border-radius: 64px;
    padding: 1rem;
    margin: 0 1rem;
    text-decoration: none;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: $mainblack;
    &:hover {
    background-color: $white;
    }
}
&__link {
    text-decoration: none;
    white-space: nowrap;
    margin: 1rem;
    color: $mainblack;
    font-family: $font-family-sans-serif;
    font-weight: 700;
    font-size: 15px;
}
}
.item-startup {
text-align: center;
&__icon_first {
    width: 5rem;
    height: 5rem;
    margin: 2rem auto 1.5rem auto;
}
&__icon_second {
    width: 5rem;
    height: 5rem;
    margin: 2rem auto 1.5rem auto;
}
&__icon_third {
    width: 5rem;
    height: 5rem;
    margin: 2rem auto 1.5rem auto;
}
&__title {
    font-family: $font-family-serif;
    font-weight: 400;
    font-size: 17px;
    margin: 0rem 0rem 1.06rem 0rem;
}
&__text {

    font-style:  $font-family-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0px 1.25rem 1.9375rem 1.25rem;
}
}
.btn__arrow {
    background: url(/assets/images/black-arrow.png) center right no-repeat;
    padding-right: 1.5rem;
    color: $mainblack;
    text-decoration: none;
    margin: 1rem;
    white-space: nowrap;

    &:hover {
        border-radius: 20px;
        padding: 0.5rem;
    }
}
@media screen and (max-width: $screen-medium){
    .startup{

    &__body{
    width: 100%;
    height: 100rem;
    border-radius: 0px;
    background-image: none;
    }
    &__header{
    width: 80%;
    height: 25%;
    margin: 5rem auto;
    display: flex;
    align-content: space-between ;
    }
    &__row{
    height: 60%;
    flex-wrap: wrap;
    }
    &__column{
    width: 70vw;
    height:15rem ;
}
&__column_first{
    margin: 3rem;
}
&__column_second{
    margin: 0rem 3rem;
}
&__column_third{
    margin: 3rem;
}
&__interaction{
    margin: 3rem 0rem 3rem 0rem;
}
    }
}
/*Startup end*/