@charset "UTF-8";
html {
  height: 100%;
}

body {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  color: #162E3C;
}

a {
  color: black;
  text-decoration: none;
}

.btn-interaction {
  margin-left: -1rem;
}

.btn {
  border: 1px solid #162E3C;
  border-radius: 30px;
  padding: 0.7rem 1.5rem;
  margin: 0.5rem 1rem;
  text-decoration: none;
  white-space: nowrap;
  display: inline-block;
  color: #162E3C;
}
.btn:hover {
  background-color: #DDF0A7;
  color: #162E3C;
}
.btn__pistachio {
  background-color: #DDF0A7;
  color: #162E3C;
}
.btn__pistachio:hover {
  background-color: #fff;
  color: #162E3C;
}
.btn__black {
  background-color: #162E3C;
  color: white;
}
.btn__arrow {
  background: url(/assets/images/black-arrow.svg) center right no-repeat;
  padding-right: 1.5rem;
  border-color: transparent;
}
.btn__arrow:hover {
  background-color: initial;
  color: initial;
}
.btn__arrow_white {
  background: url(/assets/images/arrow-right.svg) center right no-repeat;
  color: #fff;
}
.btn__arrow_white:hover {
  color: white;
}

.marker {
  background-color: #DDF0A7;
  color: #162E3C;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  white-space: nowrap;
  font-weight: bold;
  display: inline-block;
}
.marker__centered {
  margin-left: auto;
  margin-right: auto;
}

.start {
  background-color: #162E3C;
  display: flex;
  flex-flow: column;
}

.alert-item__success {
  background-color: #DDF0A7;
}
.alert-item__text {
  max-width: 1296px;
  margin: 0 auto;
  text-align: center;
  padding: 1rem;
}
.alert-item__close {
  float: right;
}

.header {
  background-color: white;
}
.header__container {
  max-width: 1296px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
}
@media screen and (max-width: 768px) {
  .header__container {
    grid-template-rows: repeat(5, 1fr);
  }
}
.header__logo {
  margin: 1rem;
  grid-row: 1;
  grid-column: 1;
}
@media screen and (max-width: 768px) {
  .header__logo {
    grid-column: 1/3;
    text-align: center;
  }
}
.header__items {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-row: 1;
  grid-column: 2;
}
@media screen and (max-width: 768px) {
  .header__items {
    flex-direction: column;
    grid-row: 2/6;
    grid-column: 1/3;
    justify-content: stretch;
  }
}
.header__link {
  text-decoration: none;
  white-space: nowrap;
  margin: 1rem;
}
@media screen and (max-width: 768px) {
  .header__link {
    margin: 0.5rem;
  }
}

.heading {
  background: url(/assets/images/screen1-bg.svg) no-repeat top center;
  background-size: contain;
  flex-grow: 1;
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
  padding-bottom: 25vw;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  .heading {
    padding-bottom: 20vw;
  }
}
.heading .heading-content {
  width: 50vw;
  max-width: 500px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
}
@media (min-width: 768px) {
  .heading .heading-content {
    padding: 6rem 0;
  }
}
.heading .heading-content__header {
  font-family: "Fraunces", Georgia, "Times New Roman", serif;
}
.heading .heading-content__actions {
  padding: 1rem 0;
}
.heading .heading-content__logo {
  padding: 2rem 0 0 0;
}
.heading .heading-content__logo-item {
  height: 25px;
  padding: 0 5px;
}

.video {
  padding-bottom: 3rem;
  position: relative;
  margin-top: -25vw;
  margin-bottom: 25vw;
}
@media (min-width: 768px) {
  .video {
    margin-top: -20vw;
    margin-bottom: 20vw;
  }
}
.video__pane {
  background-color: #162E3C;
  height: 25vw;
}
@media (min-width: 768px) {
  .video__pane {
    height: 20vw;
  }
}
.video__handler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 3rem;
}
.video__background {
  background: url(/assets/images/foto-girl.png) no-repeat center center;
  width: 100%;
  background-size: contain;
  width: 100vw;
  height: 50vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .video__background {
    width: 85vw;
    height: 42.5vw;
    max-width: 1296px;
    max-height: 648px;
  }
}

.speed {
  background-image: url(/assets/images/waves.svg);
  background-position: top right;
  background-repeat: no-repeat;
}
.speed__container {
  max-width: 1296px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}
@media (min-width: 768px) {
  .speed__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 1em;
  }
}
@media (max-width: 992px) {
  .speed__container {
    margin: 1em;
  }
}
.speed__container_image {
  margin: auto;
  padding-right: 2.5em;
  grid-row: 2;
  grid-column: 1;
  position: relative;
}
@media (max-width: 768px) {
  .speed__container_image {
    grid-row: 2;
    grid-column: 1/3;
    text-align: center;
    padding-right: 0;
  }
}
.speed__container_image .speed-image__photo {
  height: auto;
  width: 100%;
}
@media (max-width: 768px) {
  .speed__container_image .speed-image__photo {
    padding-right: 0em;
  }
}
.speed__container_text {
  grid-row: 2;
  grid-column: 2;
  align-self: center;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  .speed__container_text {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
  }
}

.speed-image__sales {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 90px;
  background-color: #DDF0A7;
  color: #162E3C;
  border-radius: 30px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  right: -0.5em;
  bottom: 50px;
}
@media (max-width: 768px) {
  .speed-image__sales {
    width: 90%;
    margin: auto;
    position: relative;
    bottom: initial;
    right: initial;
  }
}
@media (max-width: 992px) {
  .speed-image__sales {
    width: 70%;
  }
}
.speed-image__sales_bold {
  font-weight: bold;
  font-size: larger;
}

/*Startup begin*/
.startup__body {
  width: 85vw;
  height: 49rem;
  background-color: #DDF0A7;
  border-radius: 48px;
  color: #162E3C;
  margin: 128px auto;
  background-image: url(/assets/images/startup-decor.svg);
  background-position: top right;
  background-repeat: no-repeat;
}
.startup__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.startup__title {
  width: 40rem;
  height: 6rem;
  margin: 127px 0px 27px 0px;
  font-family: "Fraunces", Georgia, "Times New Roman", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
}
.startup__text {
  width: 46.5rem;
  height: 3.375rem;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}
.startup__row {
  display: flex;
  justify-content: center;
}
.startup__column {
  width: 24vw;
  max-height: 18.375rem;
  border-radius: 24px;
  background-color: #162E3C;
  color: #fff;
}
.startup__column_first {
  margin: 3.875rem 0rem 3rem 2rem;
}
.startup__column_second {
  margin: 3.875rem 1rem 3rem 1rem;
}
.startup__column_third {
  margin: 3.875rem 2rem 3rem 0rem;
}
.startup__interaction {
  text-align: center;
  margin: 0px auto 8rem auto;
}
.startup__button {
  border: 2px solid #162E3C;
  border-radius: 64px;
  padding: 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #162E3C;
}
.startup__button:hover {
  background-color: #fff;
}
.startup__link {
  text-decoration: none;
  white-space: nowrap;
  margin: 1rem;
  color: #162E3C;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 15px;
}

.item-startup {
  text-align: center;
}
.item-startup__icon_first {
  width: 5rem;
  height: 5rem;
  margin: 2rem auto 1.5rem auto;
}
.item-startup__icon_second {
  width: 5rem;
  height: 5rem;
  margin: 2rem auto 1.5rem auto;
}
.item-startup__icon_third {
  width: 5rem;
  height: 5rem;
  margin: 2rem auto 1.5rem auto;
}
.item-startup__title {
  font-family: "Fraunces", Georgia, "Times New Roman", serif;
  font-weight: 400;
  font-size: 17px;
  margin: 0rem 0rem 1.06rem 0rem;
}
.item-startup__text {
  font-style: "Fraunces", Georgia, "Times New Roman", serif;
  font-weight: 400;
  font-size: 15px;
  margin: 0px 1.25rem 1.9375rem 1.25rem;
}

@media screen and (max-width: 768px) {
  .startup__body {
    width: 100%;
    height: 110rem;
    border-radius: 0px;
    background-image: none;
    margin: 0rem auto;
  }
  .startup__header {
    width: 80%;
    height: 25%;
    margin: 5rem auto;
    display: flex;
    align-content: space-between;
  }
  .startup__title {
    height: 14rem;
    margin: 3rem 0rem;
  }
  .startup__text {
    height: 5rem;
    margin: 0rem 0rem 3rem 0rem;
  }
  .startup__row {
    height: 60%;
    flex-wrap: wrap;
  }
  .startup__column {
    width: 70vw;
    height: 17rem;
  }
  .startup__column_first {
    margin: 3rem;
  }
  .startup__column_second {
    margin: 0rem 3rem;
  }
  .startup__column_third {
    margin: 3rem;
  }
  .startup__interaction {
    margin: 3rem 0rem 3rem 0rem;
  }
}
@media screen and (max-width: 576px) {
  .startup__body {
    height: 110rem;
  }
  .startup__header {
    height: 20%;
    width: 90vw;
  }
  .startup__title {
    height: 10rem;
    font-size: 2rem;
    margin: 3rem 0rem 0rem 0rem;
  }
  .startup__column {
    height: 19rem;
    width: 90vw;
    margin: 0.5rem;
  }
  .startup__interaction {
    display: flex;
    height: 10rem;
    margin: 3rem 0rem 3rem 0rem;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
  }
}
/*Startup end*/
.straight__container {
  max-width: 1296px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}
@media (min-width: 768px) {
  .straight__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding-left: 1em;
  }
}
.straight__container_image {
  margin: auto;
  grid-row: 1;
  grid-column: 2;
  position: relative;
}
.straight__container_image .image__photo {
  height: auto;
  width: 100%;
}
@media (max-width: 768px) {
  .straight__container_image {
    grid-column: 1/3;
    grid-row: 2;
  }
}
.straight__container_text {
  align-self: center;
  line-height: 1.5rem;
}
@media (max-width: 768px) {
  .straight__container_text {
    grid-column: 1/3;
    grid-row: 1;
    text-align: center;
  }
}
.straight .image__productivity {
  position: absolute;
  z-index: 1;
  width: 400px;
  height: 90px;
  background-color: #DDF0A7;
  color: #162E3C;
  border-radius: 20px;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  bottom: 50px;
  left: -3em;
}
@media (max-width: 768px) {
  .straight .image__productivity {
    width: 90%;
    margin: auto;
    position: relative;
    bottom: initial;
    right: initial;
    left: initial;
  }
}
@media (max-width: 992px) {
  .straight .image__productivity {
    width: 70%;
  }
}
.straight .image__productivity_bold {
  font-weight: bold;
  font-size: larger;
}
.straight .text__columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1em;
  margin-top: 2em;
  align-self: center;
  line-height: 1.5rem;
}
.straight .text__columns_left {
  grid-row: 1;
  grid-column: 1;
  padding: 1em;
}
.straight .text__columns_right {
  grid-row: 1;
  grid-column: 2;
  padding: 1em;
}
@media (max-width: 768px) {
  .straight .text__columns {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
  }
}

/*Footer start*/
.font-size-13px {
  font-size: 13px;
}

.font-size-14px {
  font-size: 14px;
}

.footer {
  width: 100%;
  height: 58.188rem;
  margin: 100rem 0rem 0rem 0rem;
  background-color: #162E3C;
  color: #fff;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.footer_up {
  width: 87vw;
  margin: 0rem auto;
  display: flex;
  justify-content: space-between;
}
.footer__main_first {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 16.813rem;
  height: 11.188rem;
  margin: 4rem 0rem 5rem 0rem;
}
.footer__link {
  text-decoration: none;
  color: #fff;
  margin: 0rem 0rem 1rem 0rem;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__links {
  display: flex;
  width: 42rem;
  box-sizing: border-box;
  margin: 5rem 0rem 5rem 15rem;
  justify-content: space-between;
}
.footer__column_first {
  height: 29.063rem;
}
.footer__list_first {
  display: flex;
  width: 4.688rem;
  flex-wrap: wrap;
  align-content: space-between;
}
.footer__column_name {
  padding: 0rem;
  font-size: 15px;
  margin: 0rem 0rem 1.5rem 0rem;
  color: #fff;
}
.footer__column_second {
  height: 3.5rem;
}
.footer__list_second {
  display: flex;
  width: 6.75rem;
  flex-wrap: wrap;
  align-content: space-between;
}
.footer__column_third {
  width: 6.063rem;
}
.footer__list_third {
  display: flex;
  width: 4.938rem;
  flex-wrap: wrap;
  align-content: space-between;
}
.footer__main_second {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer__line {
  display: flex;
  justify-content: center;
  width: 87vw;
  border: solid 1px #223E4E;
}
.footer_under-line {
  width: 87vw;
  display: flex;
  justify-content: space-between;
}
.footer__creator {
  width: 21.938rem;
  margin: 2.625rem 0rem 0rem 0rem;
}
.footer__social-media {
  display: flex;
  width: 8.5rem;
  height: 2.569rem;
  justify-content: space-between;
  margin: 2rem 0rem 0rem 0rem;
}
.footer__instagram {
  display: flex;
  width: 2.5rem;
  height: 2.563rem;
  background-color: #DDF0A7;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
}
.footer__twitter {
  display: flex;
  width: 2.5rem;
  height: 2.563rem;
  background-color: #DDF0A7;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
}
.footer__facebook {
  display: flex;
  width: 2.5rem;
  height: 2.563rem;
  background-color: #DDF0A7;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 715px) {
  .footer {
    height: 42rem;
    margin: 2100px 0px 0px 0px;
  }
  .footer__links {
    display: none;
  }
  .footer__line {
    display: none;
  }
  .footer__main_first {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 1.5rem;
    text-align: center;
  }
  .footer__main_second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer__creator {
    width: 80rem;
    order: 2;
    margin: 4rem 0;
  }
  .footer____social-media {
    display: flex;
    width: 80rem;
    margin: 0rem auto;
    order: 1;
    justify-content: space-between;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    height: 30rem;
  }
  .footer_under-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__creator {
    order: 2;
  }
  .footer__social-media {
    order: 1;
  }
}
/*Footer end*/
/*  PRICING // screen 6  */
.pricing {
  display: grid;
  height: 60rem;
  width: 90vw;
  justify-items: center;
  align-items: end;
  background-image: url(/assets/images/Wave.svg);
  background-position: 100% top;
  background-repeat: no-repeat;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .pricing {
    display: grid;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: end;
    background-image: none;
    margin-top: 4em;
    margin-bottom: 4em;
  }
}
.pricing__button {
  display: grid;
  width: 77px;
  height: 32px;
  justify-items: center;
  align-items: center;
  background-color: #DDF0A7;
  border: none;
  border-radius: 64px;
  font-size: 15px;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  line-height: 24px;
}
.pricing__title {
  margin-top: 15px;
  margin-bottom: 24px;
  font-size: 48px;
  font-family: "Fraunces", Georgia, "Times New Roman", serif;
  line-height: 57px;
}
@media screen and (max-width: 768px) {
  .pricing__title {
    font-size: 42px;
    text-align: center;
  }
}
.pricing__subtitle {
  color: #49616E;
  font-size: 18px;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  margin-bottom: 3.5em;
}
@media screen and (max-width: 768px) {
  .pricing__subtitle {
    font-size: 16px;
    text-align: center;
    margin-bottom: 2em;
  }
}
.pricing__block {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 0.5em 1fr 0.5em 1fr;
  grid-template-rows: 1fr;
  align-items: end;
  margin-bottom: 4em;
  margin-top: 6em;
}
@media screen and (max-width: 768px) {
  .pricing__block {
    display: grid;
    width: 100%;
    align-items: end;
    margin-bottom: 4em;
    margin-top: 6em;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3em 1fr 3em 1fr;
  }
}
.pricing__card_blue {
  display: grid;
  height: 100%;
  max-height: 668px;
  justify-items: left;
  background: #162E3C;
  color: #fff;
  border-radius: 32px;
  padding: 32px;
}
@media screen and (max-width: 768px) {
  .pricing__card_blue {
    display: grid;
    min-width: 250px;
    max-width: 100%;
    max-height: 668px;
    justify-items: left;
    background: #162E3C;
    color: #fff;
    border-radius: 32px;
    padding: 32px;
    margin-bottom: 2em;
  }
}
.pricing__card_green {
  display: grid;
  height: 110%;
  max-height: 732px;
  justify-items: left;
  background: #DDF0A7;
  border-radius: 32px;
  color: #162E3C;
  padding: 32px;
}
@media screen and (max-width: 768px) {
  .pricing__card_green {
    display: grid;
    min-width: 250px;
    max-width: 100%;
    max-height: 668px;
    justify-items: left;
    background: #DDF0A7;
    border-radius: 32px;
    color: #162E3C;
    padding: 32px;
    margin-bottom: 2em;
    margin-left: 0;
    margin-right: 0;
  }
}

.img__credit {
  width: 48px;
  height: 48px;
  justify-self: end;
  margin-bottom: 32px;
}
.img__dot {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .img__dot {
    margin-right: 0.75em;
  }
}

.price {
  font-size: 32px;
  font-family: "Fraunces", Georgia, "Times New Roman", serif;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .price {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}
.price__plan {
  margin-bottom: 10px;
}
.price__month {
  font-size: 56px;
}
.price__year {
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

#pcard__title_green {
  color: #162E3C;
}

.pcard__title {
  font-family: "Fraunces", Georgia, "Times New Roman", serif;
  font-size: 20px;
  font-weight: 200;
  color: #fff;
}
.pcard__line {
  width: 100%;
  height: 1px;
  bottom: 0;
  background-color: #223E4E;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .pcard__line {
    margin: 32px 0 32px 0;
  }
}
.pcard__menu {
  display: grid;
}
.pcard__menu_item {
  display: inline-flex;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 1em;
}
@media screen and (max-width: 768px) {
  .pcard__menu_item {
    font-size: 14px;
  }
}

.button__getstarted_green {
  display: grid;
  width: 100%;
  height: 52px;
  align-content: center;
  justify-content: center;
  background-color: #DDF0A7;
  font-size: 15px;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  line-height: 24px;
  color: #162E3C;
  border: none;
  border-radius: 64px;
  margin-top: 16px;
}
@media screen and (max-width: 768px) {
  .button__getstarted_green {
    margin-top: 3em;
  }
}
.button__getstarted_blue {
  display: grid;
  width: 100%;
  height: 52px;
  align-content: center;
  justify-content: center;
  background-color: #162E3C;
  font-size: 15px;
  font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
  line-height: 24px;
  border: none;
  border-radius: 64px;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .button__getstarted_blue {
    margin-top: 3em;
  }
}
.button__getstarted_green:hover {
  background-color: #97ae57;
  color: #fff;
}
.button__getstarted_blue:hover {
  background-color: #97ae57;
}

#text_white {
  color: #fff;
}

.link__nounderline {
  text-decoration: none;
  color: #162E3C;
}

.block {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1em 1fr 1em 1fr;
  grid-template-rows: 1fr;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .block {
    grid-template-rows: 1fr 3em 1fr 3em 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 4em;
  }
}
.block__card {
  display: grid;
  min-width: 250px;
  max-height: 750px;
  justify-items: center;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  border: 1px solid #E5E7EB;
}
@media screen and (max-width: 768px) {
  .block__card {
    min-width: 250px;
    max-width: 403px;
    max-height: 664px;
    margin-bottom: 1.5em;
  }
}
.block__card_middlespace {
  margin: 1.5em;
}
@media screen and (max-width: 768px) {
  .block__card_middlespace {
    margin: 0;
  }
}

.screen5 {
  background: #162E3C;
  width: 100%;
}

h2 {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #FFFFFF;
}

.nametwo {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  color: #FFFFFF;
}

p {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin: 10px;
  padding: 10px;
}

.container {
  width: 35%;
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 32px;
  /* скругление углов блока */
  padding: 16px;
  /* внутренние поля */
  margin: 16px 0;
  /* внешние отступы */
  display: inline-block;
  margin: 50px 5px 10px 100px;
  /* отступы со всех сторон */
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.container img {
  float: left;
  /* обтекание слева */
  margin-right: 20px;
  /* пространство между аватаркой и абзацем */
  border-radius: 0%;
  /* скругляет аватарку */
  width: 10%;
}

.lapa {
  margin-top: 1px;
  text-align: right;
}

.spot {
  text-align: left;
  padding: 1px;
  margin-top: -10%;
}

.rating-mini {
  display: inline-block;
  font-size: 0px;
  margin-left: -0.36em;
}

.rating-mini span {
  padding: 0;
  font-size: 0px;
  color: lightgrey;
}

.rating-mini > span:before {
  content: "★";
}

.rating-mini > span.active {
  color: gold;
}

.container span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .container {
    text-align: center;
    width: 100%;
  }
  .container img {
    margin: auto;
    float: none;
    display: block;
  }
  .img {
    margin: auto;
    float: none;
    display: block;
  }
}
@media (max-width: 320px) {
  .container {
    text-align: center;
    width: 100%;
  }
  .container img {
    margin: auto;
    float: none;
    display: block;
  }
  .img {
    margin: auto;
    float: none;
    display: block;
  }
}
.screen8 {
  background: #DDF0A7;
  border-radius: 48px;
  height: 484px;
  width: 75%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text1 {
  margin: 1px;
  padding: 15px;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */
  text-align: center;
  color: #162E3C;
}

.text2 {
  padding: -50px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */
  text-align: center;
  color: #162E3C;
}

.registration {
  margin: 2rem 0rem 2rem 0rem;
}

.text3 {
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  /* identical to box height, or 164% */
  color: #162E3C;
}

.pala {
  margin-top: 1px;
  text-align: right;
}

.subscribe__button {
  height: 52px;
  border: 2px solid #162E3C;
  border-radius: 24px;
  padding: 1rem;
  margin: 0 1rem;
  text-decoration: none;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  background: #162E3C;
  color: #f3f6f8;
}

.registration__button {
  background-color: #FFFFFF;
  border-radius: 24px;
  height: 52px;
  width: 500px;
  font-family: "Space Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  border: 2px solid #ccc;
  padding: 1rem;
  color: #050505;
}

@media screen and (max-width: 425px) {
  .screen8 {
    width: 100%;
    /* height: 100rem; */
  }
}
@media screen and (max-width: 320px) {
  .screen8 {
    width: 100%;
  }
  .registration__button {
    padding: auto;
  }
}
/*  PRICING // screen 7 //  */
.blog {
  display: grid;
  height: 100vh;
  max-width: 90vw;
  justify-items: center;
  align-items: center;
  margin-top: 6em;
  margin-bottom: 4em;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .blog {
    display: grid;
    height: 100vh;
    max-width: 100vw;
    justify-items: center;
    align-items: center;
    margin-top: 4em;
  }
}

.marker {
  background-color: #DDF0A7;
  color: #162E3C;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  white-space: nowrap;
  font-weight: bold;
  display: inline-block;
}
.marker__centered {
  margin-left: auto;
  margin-right: auto;
}

.title__main {
  font-size: 48px;
  font-weight: 700;
  font-family: "Fraunces", Georgia, "Times New Roman", serif;
  margin-top: 15px;
  margin-bottom: 24px;
}
@media screen and (max-width: 768px) {
  .title__main {
    font-size: 42px;
    font-weight: 700;
    font-family: "Fraunces", Georgia, "Times New Roman", serif;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
.title__subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #49616E;
  margin-bottom: 3.5em;
}
@media screen and (max-width: 768px) {
  .title__subtitle {
    font-size: 16px;
    text-align: center;
    margin-bottom: 3.5em;
  }
}

.block {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1em 1fr 1em 1fr;
  grid-template-rows: 1fr;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .block {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr 3em 1fr 3em 1fr;
    grid-template-columns: 1fr;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 3em;
  }
}
.block__card {
  display: grid;
  min-width: 250px;
  max-height: 750px;
  justify-items: center;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  border: 1px solid #E5E7EB;
}
@media screen and (max-width: 768px) {
  .block__card {
    min-width: 250px;
    max-width: 100%;
    max-height: 664px;
    margin-bottom: 1.5em;
  }
}
.block__card_middlespace {
  margin: 1em;
}
@media screen and (max-width: 768px) {
  .block__card_middlespace {
    margin: 0;
  }
}

.img-responsive {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card__bottom {
  display: inline-flex;
  align-items: baseline;
  font-size: 14px;
  color: #162E3C;
}
.card__title {
  font-size: 24px;
  font-weight: 700;
  font-family: "Fraunces", Georgia, "Times New Roman", serif;
  line-height: 33px;
  color: #162E3C;
  text-align: center;
  margin-top: 10px;
  padding: 0 31px 0 31px;
}
@media screen and (max-width: 768px) {
  .card__title {
    margin-top: 15px;
  }
}
.card__text {
  padding: 5px 30px 25px 40px;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  color: #49616E;
}

.button__business {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 94px;
  height: 39px;
  font-size: 13px;
  font-weight: 400;
  border: 1px solid #E5E7EB;
  border-radius: 32px;
  margin-right: 1.5em;
}
.button__readmore_style {
  display: inline-flex;
  width: 8em;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  color: #162E3C;
  margin: 1em;
}
.button__readmore_style:hover {
  background-color: #DDF0A7;
  border-radius: 32px;
  padding-right: 5px;
}
.button__view {
  display: grid;
  width: 109px;
  height: 52px;
  justify-content: center;
  align-content: center;
  font-size: 15px;
  border: 2px solid #162E3C;
  border-radius: 64px;
}
.button__view:hover {
  background-color: #DDF0A7;
}/*# sourceMappingURL=startico.css.map */