.startup__body {
    width: 80vw;
    height: 49rem;

    background-color: #DDF0A7;
    border-radius: 48px;
    color: #162E3C;
    margin: 128px auto;

}

.startup__decor {

    width: 7.5rem;
    height: 5.625rem;

}



.startup__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.startup__title {

    width: 40rem;
    height: 6rem;
    margin: 0 0 27px 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5rem;
    line-height: 3rem;
    text-align: center;


}

.startup__text {

    width: 46.5rem;
    height: 3.375rem;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
}

.startup__row {
    display: flex;
    justify-content: center;
}

.startup__column {
    max-width: 24vw;
    max-height: 18.375rem;
    border-radius: 24px;
    background-color: #162E3C;
    color: #FFFFFF;


}

.startup__column_first {
    margin: 3.875rem 0rem 3rem 2rem;
}

.startup__column_second {
    margin: 3.875rem 1rem 3rem 1rem;
}

.startup__column_third {
    margin: 3.875rem 2rem 3rem 0rem;
}

.item-startup {
    text-align: center;
}

.item-startup__icon_first {
    width: 5rem;
    height: 5rem;
    margin: 2rem auto 1.5rem auto;
}

.item-startup__icon_second {
    width: 5rem;
    height: 5rem;
    margin: 2rem auto 1.5rem auto;
}

.item-startup__icon_third {
    width: 5rem;
    height: 5rem;
    margin: 2rem auto 1.5rem auto;
}

.item-startup__title {
    font-family: Fraunces;
    font-weight: 400;
    font-size: 17px;
    margin: 0rem 0rem 1.06rem 0rem;
}

.item-startup__text {

    font-style: Grotesk;
    font-weight: 400;
    font-size: 15px;
    margin: 0px 1.25rem 1.9375rem 1.25rem;

}


.startup__interaction {
    text-align: center;
    margin: 0px auto 8rem auto;
}

.startup__button {

    border: 2px solid #162E3C;
    border-radius: 64px;
    padding: 1rem;
    margin: 0 1rem;
    text-decoration: none;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #162E3C;
}

.startup__link {
    text-decoration: none;
    white-space: nowrap;
    margin: 1rem;
    color: #162E3C;
    font-family: 'Space Grotesk', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15px;
}

.btn-arrow {
    background: url(/assets/images/black-arrow.png) center right no-repeat;
    padding-right: 1.5rem;

}